body{
  cursor: url("https://worshipthegoose.github.io/assets/cursors/cursor.png"), default !important
}
button, a, #goose, .goose, #image{
  cursor: url("https://worshipthegoose.github.io/assets/cursors/pointer.png"), pointer !important
}
body {
  background-image: url('https://worshipthegoose.github.io/assets/images/background.png') !important;
}
