body{
  cursor: url("https://cdn.custom-cursor.com/db/16874/32/origami-goose-cursor.png"), default !important
}
button, a{
  cursor: url("https://cdn.custom-cursor.com/db/16873/32/origami-goose-pointer.png"), pointer !important
}
#image {
  cursor: url("https://cdn.custom-cursor.com/db/16873/32/origami-goose-pointer.png"), pointer !important
}
