body{
  cursor: url("https://cdn.custom-cursor.com/db/16873/32/origami-goose-cursor.png") !important
}
button, a{
  cursor: url("https://cdn.custom-cursor.com/db/16873/32/origami-goose-pointer.png") !important
}
#image {
  cursor: url("https://cdn.custom-cursor.com/db/16873/32/origami-goose-pointer.png") !important
}
