footer{
    background-color:orange;
    padding:5px;
    float:bottom;
    margin-top: auto;
    border-top:2px dashed white;
}
.f1{
    color:white !important;
    text-decoration: 1px wavy underline;
}

body::selection, body::-moz-selection{
    background-color:yellow !important;
    color:black !important;
}
