.inputbox{
  font-family:'Comic Sans MS';
  border:2px solid #333;
  border-radius:10px;
  margin:0px;
  padding:10px;
  background-color:silver !important;
  width:65% !important;
}
.input-stuff{
  position:relative;
  display:inline-block;
  width:66% !important;
  margin:0;
  padding:0;
}
.input-container {
    display: flex;
    justify-content: center;  /* Centers them horizontally */
    align-items: center;      /* Vertically aligns the text box and the X/Checkmark */
    gap:10px;
}
.indicator, .update {
  font-size: 24px;
  font-weight: bold;
  -webkit-text-stroke:1px black;
}
.inputex{
    position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: black;
}
.correct {
  color: green !important;
}
.incorrect {
  color: red !important;
}
.static {
  color:darkgrey !important
}
.inputbox:hover{
  background-color:white !important;
}
.eye{
  width:24px;
  height:24px;
  cursor:pointer;
}
