.inputbox{
  font-family:'Comic Sans MS';
  border:2px solid #333;
  border-radius:10px;
  margin:0px;
  padding:10px;
  background-color:gainsboro;
}
.indicator {
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 10px;
}
.correct {
  color: green;
}
.incorrect {
  color: red;
}
