/*@media screen and (min-width: 992px) {*/
    nav ul li:nth-child(1) .div a::after {
        content: "";
        position: absolute;
        left: 0;
        width:100%;
        bottom: 1px; 
        height: 4px; 
        background: linear-gradient(to left, #FFA500, #FF8C00, darkorange, #bdde85, #74da74, #4dcc4d); 
        border: 0.5px solid black; 
        box-sizing: border-box;
    }
/*}*/